<div class="container">
  <div class="row border-bottom"
       style="padding-bottom: 0.8rem; text-align: center;
       padding-top: 1rem!important; position: sticky; top: 0; background-color: white; z-index: 1000">
    <div class="col-2">
      <i class="bi bi-chevron-left" [routerLink]="['/leader/action-management', queueId]"></i>
    </div>
    <div class="col text-center">
      <h6 class="mb-0">Manual Notification</h6>
    </div>
    <div class="col-2">
      <div>
        <i class="bi bi-plus-lg" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/leader/save-inform', queueId]">Create New</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let informItem of informItems; index as i">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ informItem.title }}</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">{{ dateTimeUtils.toCalendar(queue.createDateTime) }}</h6> -->
        <!-- <p class="card-text">{{ informItem.informContent }}</p> -->
        <a href="#" class="card-link" [routerLink]="['/leader/save-inform', queueId, i]">Edit</a>
      </div>
    </div>
  </div>
</div>
