<div class="container">
  <div class="row border-bottom"
       style="padding-bottom: 0.8rem;text-align: center;
       padding-top: 1rem!important; position: sticky;top: 0;background-color: white;z-index: 1000">
    <div class="col-2">
      <i class="bi bi-chevron-left" [routerLink]="['/super-admin/variable']"></i>
    </div>
    <div class="col text-center">
      <h6 class="mb-0">变量详情</h6>
    </div>
    <div class="col-2">

    </div>
  </div>
  <div class="row  border-bottom" *ngIf="systemParameterVo">
    <label class="form-control">{{systemParameterVo.parameterType}}
    </label>

    <textarea  style="background-color: antiquewhite;"   class="form-control" id="exampleFormControlTextarea1" rows="5"
              [(ngModel)]="systemParameterVo.value"></textarea>
    <div class="btn-group mt-2 d-flex justify-content-center" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-success" (click)="submit();">保存</button>
    </div>
  </div>

</div>
