<app-header [titleName]="'Add New Question'" [lastType]="'closePage'"
            [lastPath]="'/leader/survey-list/'+queueId+'?page=0&size=10'"
></app-header>

<div class="container" style="padding-top: 1rem;">
  <div class="row">
    <div class="mb-3">
      <label for="questionType" class="form-label">Question Type</label>
      <select class="form-select" id="questionType" required
              (ngModelChange)="onQuestionTypeSelect($event)"
              [(ngModel)]="question.type">
        <option value="{{QuestionType.SHORT_TEXT}}">Text</option>
        <option value="{{QuestionType.SINGLE_CHOICE_QUESTION}}">Single Choice Question</option>
        <option value="{{QuestionType.MULTIPLE_CHOICE_QUESTION}}">Multiple Choice Question</option>
      </select>
      <div class="invalid-feedback">
        Please select a question type.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3">
      <div class=" form-check">
        <input [(ngModel)]="question.required"
               class="form-check-input" type="checkbox" role="switch"
               id="flexSwitchCheckChecked" checked>
        <label for="flexSwitchCheckChecked" class="form-check-label">Required
        </label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="question.type == QuestionType.SHORT_TEXT">
    <div class="mb-3">
      <label class="form-label">Question</label>
      <input type="text" placeholder="Enter the question" class="form-control"
             [(ngModel)]="question.shortText.question">
    </div>
    <div class="mb-3">
      <div class=" mb-3">
        <div class="input-group mb-3">
          <span class="input-group-text">Rows</span>
          <input type="number" class="form-control"
                 [(ngModel)]="question.shortText.rows">
          <span class="input-group-text">Max Characters</span>
          <input type="number" class="form-control"
                 [(ngModel)]="question.shortText.maxLength">
        </div>
      </div>
    </div>
    <app-accordion [header]="'Select Tags'">
      <label class="form-label">Select Tags</label>
      <div class="form-check" *ngFor="let tagVo of tagVos;index as i">
        <input class="form-check-input" type="checkbox" value="" id="color-check-{{i}}"
               [(ngModel)]="tagVo.checked">
        <label class="form-check-label" for="color-check-{{i}}">
          <span class="badge" [style.background-color]="tagVo.color">{{tagVo.tagContent}}</span>
        </label>
      </div>
    </app-accordion>
  </div>
  <div class="row" *ngIf="question.type == QuestionType.SINGLE_CHOICE_QUESTION">
    <div class="mb-3">
      <label class="form-label">Question</label>
      <input type="text" class="form-control" placeholder="Enter the question"
             [(ngModel)]="question.singleChoiceQuestion.question">
    </div>
    <div class="mb-3">
      <div class="input-group" *ngFor="let radioOption of question.singleChoiceQuestion.radioOptions; index as i">
        <div class="input-group-text">
          <input class="form-check-input mt-0" disabled type="radio" value="">
        </div>
        <input type="text" class="form-control" placeholder="Enter answer option" [(ngModel)]="radioOption.text">
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" [checked]="radioOption.allowInput"
                 (change)="radioOptionChange(radioOption)">
        </div>
        <button type="button" class="btn btn-secondary" (click)="removeOption(i)">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <button type="button" class="mt-3 btn btn-primary" (click)="addOption()">
        Add Option <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
  <div class="row" *ngIf="question.type == QuestionType.MULTIPLE_CHOICE_QUESTION">
    <div class="mb-3">
      <label class="form-label">Question</label>
      <input type="text" class="form-control" placeholder="Enter the question"
             [(ngModel)]="question.multipleChoiceQuestion.question">
    </div>
    <div class="mb-3">
      <div class="input-group" *ngFor="let radioOption of question.multipleChoiceQuestion.radioOptions; index as i">
        <div class="input-group-text">
          <input class="form-check-input mt-0" disabled type="checkbox" value="">
        </div>
        <input type="text" class="form-control" placeholder="Enter answer option" [(ngModel)]="radioOption.text">
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" [checked]="radioOption.allowInput"
                 (change)="radioOptionChange(radioOption)">
        </div>
        <button type="button" class="btn btn-secondary" (click)="removeMultipleOption(i)">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <button type="button" class="mt-3 btn btn-primary" (click)="addMultipleOption()">
        Add Option <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" (click)="saveSurvey(null)" class="btn btn-outline-primary col-3">
        <i class="bi bi-save"></i>
        <div style="font-size: xx-small;">Save</div>
      </button>
      <button type="button" (click)="deleteQuestion()" class="btn btn-outline-danger col-3">
        <i class="bi bi-file-text"></i>
        <div style="font-size: xx-small;">Delete</div>
      </button>
      <button type="button" (click)="saveSurveyAndToPreview()" class="btn btn-outline-primary col-3">
        <i class="bi bi-file-text"></i>
        <div style="font-size: xx-small;">Preview</div>
      </button>
      <button type="button" (click)="saveSurveyAndAddQuestion()" class="btn btn-outline-primary col-3">
        <i class="bi bi-chevron-right"></i>
        <div style="font-size: xx-small;">Add</div>
      </button>
    </div>
  </div>
</div>
