<div class="container" style="padding-top: 1rem!important;">
  <div class="row border-bottom" style="padding-bottom: 0.8rem;text-align: center;">
    <div class="col-1">
      <i  (click)="onFirstClick()"  class="bi bi-chevron-left"></i>
    </div>
    <div class="col-1">
      <i *ngIf="secondPath" (click)="onSecondClick()" class="bi bi-house"></i>
    </div>
    <div class="col text-center">
      <h6 class="mb-0">{{titleName}}</h6>
    </div>
    <div class="col-2">
      <i *ngIf="lastType=='closePage'" (click)="onLastClick()"  class="bi bi-x-lg"></i>
      <i *ngIf="lastType=='addSurvey'" (click)="addSurvey()"  class="bi bi-plus-lg"></i>
    </div>
  </div>
</div>
