<div class="container">
  <div class="row border-bottom"
       style="padding-bottom: 0.8rem; text-align: center;
       padding-top: 1rem!important; position: sticky; top: 0; background-color: white; z-index: 1000">
    <div class="col-2">
      <i class="bi bi-chevron-left" [routerLink]="['/leader/action-management', queueId]"></i>
    </div>
    <div class="col text-center">
      <h6 class="mb-0">Status Issues</h6>
    </div>
    <div class="col-2">
      <i (click)="addItem()" class="bi bi-plus-lg"></i>
    </div>
  </div>
  <div class="row">
    <div class="text-center" style="padding-top: 1rem!important;">
      <p style="font-weight: 300;">Enter issues and allow queue members to publish statuses</p>
    </div>
  </div>
  <div class="row mt-1">
    <div class="mb-1" *ngFor="let statusQuestion of statusByMember.statusByQuestions; index as i">
      <label for="id-{{i}}" class="form-label">Question {{i+1}}</label>
      <input type="text" class="form-control" id="id-{{i}}" placeholder="Ex: Is the leader on leave?"
             [(ngModel)]="statusQuestion.question">
    </div>
    <div class="form-check form-switch mt-1" style="padding-left: 3.5em;">
      <input class="form-check-input" type="checkbox" role="switch"
             id="flexSwitchCheckChecked" [(ngModel)]="statusByMember.allowMemberPublishStatus">
      <label class="form-check-label" for="flexSwitchCheckChecked">Allow queue members to publish queue status</label>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-3">
      <button class="btn btn-primary" type="button" (click)="save()">Save</button>
    </div>
  </div>
</div>
