<div class="container">
  <div class="row border-bottom"
       style="padding-bottom: 0.8rem;text-align: center;
       padding-top: 1rem!important; position: sticky;top: 0;background-color: white;z-index: 1000">
    <div class="col-2">
      <i class="bi bi-chevron-left" [routerLink]="['/leader/service-time-manager',queueId]"></i>
    </div>
    <div class="col text-center">
      <h6 class="mb-0">Setting Service Time for Tagged Labels</h6>
    </div>
    <div class="col-2">
      <div>
        <i class="bi bi-plus-lg" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/leader/save-manual-trigger',queueId]">Create</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="item-container"
         *ngFor="let item of manualTriggerServiceTimeItems;index as i"
         [routerLink]="['/leader/save-manual-trigger',queueId,i]">
      <span class="badge" [style.background-color]="tag.color" *ngFor="let tag of item.tags;">{{tag.tagContent}}</span>
    </div>
  </div>
  <div *ngIf="manualTriggerServiceTimeItems">
    <div *ngIf="manualTriggerServiceTimeItems.length==0" class="alert alert-info mt-4">
      <p>No data available.</p>
    </div>
  </div>
</div>
